.App-header {
  background-color: #111;
  height: 60px;
  padding: 2rem;
  color: #fff;
  text-align: center;
}

.app-logo {
  width: 200px;
  height: 200px;
}

a {
  color: #fff;
  font-size: 1.5rem;
}